.blank {
    height: 0.2vh;
    background-color: black;
}

.line {
    max-width: 48%;
}

.block {
    margin-top: 4px;
}

.hearder,
.htitle {
    display: block;
    height: 4vh;
    background-color: black;
}

.titlecenter {
    text-align: center;
    font-size: 22px;
    font-weight: 800;
}

.timer,
.countdown,
.match,
.type {
    display: block;
    height: 20vh;
    background-color: black;
    text-align: center;
}

.score,
.blue,
.red {
    display: block;
    height: 65vh;
    background-color: black;
    text-align: center;
}

.scorename,
.bluename,
.redname {
    display: block;
    height: 5vh;
    background-color: black;
    text-align: center;
}

.footer {
    display: block;
    height: 10vh;
    background-color: black;
    text-align: center;
}

.htitle {
    background-color: white;
    border-radius: 6px;
}

.countdown {
    background-color: yellow;
    border-radius: 4px;
}

.timing {
    margin-top: -25px;
    font-size: 115pt;
    font-weight: 800;
}

.htype {
    font-size: 28px;
    font-weight: bold;
}

.hmatch {
    font-size: 44pt;
    font-weight: 800;
}

.match {
    background-color: white;
    margin-right: -12px;
    border-radius: 4px;
}
.type {
    background-color: white;
    margin-left: -12px;
    border-radius: 4px;
}

.bluename {
    background-color: blue;
    margin-right: -12px;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.redname {
    background-color: red;
    margin-left: -12px;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.blue {
    background-color: blue;
    margin-right: -12px;
    color: white;
    font-size: 275pt;
    font-weight: 400;
}

.red {
    background-color: red;
    margin-left: -12px;
    color: white;
    font-size: 275pt;
    font-weight: 400;
}